.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 35vh;
    margin: auto;
    width: 220px;
    text-align: center;

}

.container form input {
    text-align: center;
    margin-bottom: 10px;
    height: 30px;
    justify-content: center;
}
.container form .user{
    color: blue;
    padding: 2% 18%;
}
.container form button {
    background-color: green;
    color: white;
    height: 40px;
    cursor: pointer;
}

.container form button:disabled {
    background-color: rgb(91, 165, 91);
    cursor: auto;
}

.container form span {
    color: red;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    width: max-content;
}